html {
  scroll-behavior: smooth;
}


h1 {
  font-size: 5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
  padding-top: 30px;
  color: rgb(122, 122, 122);
}

a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: pink;
  margin: 10px;
  text-decoration: none;
}

p {
  color: black;
  
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 20px;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 2px 10px black;
}

.navbar {
  display: flex;
  flex-flow: row ;
  padding-right: 20%;
  justify-content: space-between;
  font-size: 30px;
  
}

.navbar img {
  margin: 10px;
  background-color: pink;
  border-radius: 20px; 
  width: 45px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  padding-top: 100px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  justify-content: center;
  width: 100%;
  gap: 230px;
  background-color:  #FCE4EC;
  background-image: url("./images/primera.png"), url("./images/primera-derecha.png");
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
  background-attachment: fixed;

}

.react-player-container {
  display: flex;
  justify-content: center;
  padding-top: 250px;
  padding-bottom: 210px;
  padding-left: 250px;
  padding-right: 250px;
  background-color: #B2EBF2;
  background-image: url("./images/pngwing.com.png"), url("./images/segunda.png"), url("./images/segunda-derecha.png");
  background-position: center top, left bottom, right bottom;
  background-repeat: no-repeat;
  background-size: 100% auto , auto, auto; 
  background-attachment:  scroll ,fixed ,fixed;
}

.gatos-container {
  background-color: #FCE4EC;
  background-image: url("./images/gato-iz.png"), url("./images/gato-der.png");
  background-position: left bottom, right bottom;
  background-repeat: no-repeat;
  background-size: 24% auto, 25% auto;
  background-attachment: fixed, fixed;

}



#mery {
  font-size: 15px;
}

#pika {
  font-size: 14px;
}

#gary {
  font-size: 18px;
}

#dani {
  font-size: 15px;
}

#decro {
  font-size: 10.5px;
}

#decro a {
  color: blue;
}

#ofefa {
  font-size: 17px;
}

#verac {
  font-size: 17px;
}
